{% extends "layout.html" %}
{% block content %}

<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 30px;
        width: 100%;
        text-align: center;
    }
</style>

<form action="" method="POST">
    {{ form.csrf_token}}
    <div class="form-group">
        <label for="concelho">Concelhos:</label>
        {{form.concelho(class="form-control")}}
    </div>
    <input type="submit" class="btn btn-success" btn-lg>

</form>

<footer class="footer">
    <span class="text-muted">ultima atualização: 07/12/2020</span>
    <p>
        <span class="text-muted">mais informação em: </span><a
            href="https://covid19estamoson.gov.pt/">covid19estamoson.gov.pt</a>
    </p>

    <a href="https://github.com/EtienneJanel/PossoSair">
        <img class="text-muted" src="{{url_for('static', filename='GitHub-Mark-64px.png')}}" alt="" width=32px>
    </a>
</footer>

{% endblock content %}